select {
	margin-bottom: 0;
}

legend {
	margin-bottom: 10px;
}

input[type=text] {
	margin-bottom: 2px;
	height: 27px;
}

.data_block {
	padding-bottom:5px;
}

.parameter_container {
	padding-bottom:15px;
}
.parameter_container legend {
	font-weight:bold;
}

select option[disabled] {
	display: none;
}

#record_result {
	border: 1px solid #CCCCCC;
	height: 360px;
	overflow: auto;
	width: 800px;
}

#record_result .records_found
{
	border: none;
	padding:3px;
	text-align:center;
}

#record_result .navigation
{
	border: none;
	padding:3px;
	text-align:center;
}

.next_step_button {
	margin:0 auto;
	border:1px solid #CCCCCC;
	color:#CCCCCC;
	background:#EEEEEE;
	padding:10px;
	margin-right:10px;
}

.next_step_button.enabled {
	border:1px solid #AAAAAA;
	color:#FFFFFF;
	background:#66CC99;
	cursor:pointer;
}

.form_export_button {
	color:#CCCCCC;
	background:#EEEEEE;
}

.form_export_button.enabled {
	color:#FFFFFF;
	background:#66CC99;
	cursor:pointer;
}

#record_count_html, #file_count_html {
	font-weight:bold;
}

[rel=popover][data-color=green] + .popover {
	background: #dff0d8;
}

#tab1 {
	position:relative;
}

.preset_buttons {
	width: 120px;
	position: absolute;
	right: 0;
}

body {
	height: initial;
}

ol.wp-submenu,
ul.wp-submenu {
	margin: 0;
}
